* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0d2b59;
  background: #f4f6f0;
}

.section {
  padding: 80px 140px;
}

/* NAVBAR */
.navbar {
  background: #f4f6f0;
  border-bottom: 2px solid #e6e8e0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;
}

.nav-logo {
  font-size: 28px;
  font-weight: 700;
  color: #7b9482;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #7b9482;
  font-weight: 600;
  font-size: 17px;
}

/* HERO */
.hero {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.hero-logo {
  width: 600px;
  max-width: 100%;
}

/* ORTOMOSAICOS */
.ortofoto {
  background: #14323b;
  color: white;
}

/* FULLWIDTH SEM OVERFLOW */
.fullwidth-section {
  width: 100%;
}

.fullwidth-img {
  width: 100%;
  display: block;
}

/* IMAGE STITCHING */
.stitch-grid {
  display: grid;
  grid-template-columns: 1fr 520px;
  gap: 60px;
  align-items: center;
}

.stitch-img {
  width: 100%;
  max-width: 520px;
}

/* TUTORIAIS */
#tutoriais {
  background: white;
  color: #14323b;
}


.tutorials-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.tutoriais-btn {
  background: #6b8f7e;
  color: white;
  padding: 14px 32px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

/* EQUIPE */
.equipe {
  background: #14323b;
  color: white;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* VÍDEOS */
.videos {
  background: #f4f6f0;
  color: #0d2b59;
}

.videos-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 40px;
}

.videos-btn {
  background: #6b8f7e;
  color: white;
  padding: 14px 32px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

/* FOOTER */
footer {
  background: #7ea08f;
  color: white;
  text-align: center;
  padding: 28px;
  font-size: 16px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .section {
    padding: 50px 26px;
  }

  .stitch-grid,
  .tutoriais-grid,
  .videos-grid {
    grid-template-columns: 1fr;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}
/* REPOSITÓRIO */
.repositorio {
  background: #f4f6f0;
}

.repo-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 40px;
}

.repo-btn {
  background: #6b8f7e;
  color: white;
  padding: 14px 32px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.repo-btn:hover {
  opacity: 0.9;
}
